# === Archivos de Eclipse ===
.project
.classpath
.settings/

# === Archivos compilados Java ===
bin/
*.class

# === Archivos temporales del sistema ===
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# === Archivos de control de versiones mal subidos ===
*.iml
.idea/
nbproject/
